In [9]:
import sqlite3
import json

conn = sqlite3.connect('../db.iris', timeout=10)
c = conn.cursor()

try:
    c.execute('''DROP TABLE inv_models''')
except:
    pass;

c.execute('''
    CREATE TABLE IF NOT EXISTS  inv_models 
    (id integer, create_dt text, user text, model_name text, file_name text, description text)''')

c.execute("INSERT INTO inv_models VALUES (1, '2018-09-30', '', 's1.inv.xml','/NEC/app/a.inv.xml', 'This is a sample xml')")
c.execute("INSERT INTO inv_models VALUES (2, '2018-09-30', '', 's1.inv.xml','/NEC/app/a.inv.xml', 'This is a sample xml')")
c.execute("INSERT INTO inv_models VALUES (3, '2018-09-30', '', 's1.inv.xml','/NEC/app/a.inv.xml', 'This is a sample xml')")
c.execute("INSERT INTO inv_models VALUES (4, '2018-09-30', '', 's1.inv.xml','/NEC/app/a.inv.xml', 'This is a sample xml')")
c.execute("INSERT INTO inv_models VALUES (5, '2018-09-30', '', 's1.inv.xml','/NEC/app/a.inv.xml', 'This is a sample xml')")
c.execute("INSERT INTO inv_models VALUES (6, '2018-09-30', '', 's1.inv.xml','/NEC/app/a.inv.xml', 'This is a sample xml')")
c.execute("INSERT INTO inv_models VALUES (7, '2018-09-30', '', 's1.inv.xml','/NEC/app/a.inv.xml', 'This is a sample xml')")
c.execute("INSERT INTO inv_models VALUES (8, '2018-09-30', '', 's1.inv.xml','/NEC/app/a.inv.xml', 'This is a sample xml')")

conn.commit()
conn.close()

In [19]:
def execSQLLite(q):
    conn = sqlite3.connect('../db.iris', timeout=10)
    c = conn.cursor()

    try:
        c.execute(q);
        rows = c.fetchall()
        cnames = list(map(lambda x: x[0], c.description))
        ret= {'cols': cnames, 'rows':rows}
        return json.dumps(ret)
    except Exception as e:
        return str(e)
    conn.close()
    
execSQLLite("SELECT 'NO Query' as col from DUAL")
execSQLLite("SELECT * FROM inv_models")

'{"cols": ["id", "create_dt", "model_name", "file_name", "description"], "rows": [[1, "2018-09-30", "s1.inv.xml", "/NEC/app/a.inv.xml", "This is a sample xml"], [2, "2018-09-30", "s1.inv.xml", "/NEC/app/a.inv.xml", "This is a sample xml"], [3, "2018-09-30", "s1.inv.xml", "/NEC/app/a.inv.xml", "This is a sample xml"], [4, "2018-09-30", "s1.inv.xml", "/NEC/app/a.inv.xml", "This is a sample xml"], [5, "2018-09-30", "s1.inv.xml", "/NEC/app/a.inv.xml", "This is a sample xml"], [6, "2018-09-30", "s1.inv.xml", "/NEC/app/a.inv.xml", "This is a sample xml"], [7, "2018-09-30", "s1.inv.xml", "/NEC/app/a.inv.xml", "This is a sample xml"], [8, "2018-09-30", "s1.inv.xml", "/NEC/app/a.inv.xml", "This is a sample xml"]]}'

In [22]:
import pandas as pd
df=pd.read_csv("../data/inv_models.csv")

In [27]:
df[df.user==' ']

,id,create_dt,user,name,file_name,description
0,1,2018-09-30,,s1.inv.xml,/NEC/app/a.inv.xml,"This is a , interesting File..."
1,2,2018-09-30,,s1.inv.xml,/NEC/app/a.inv.xml,"This is a , interesting File..."
2,3,2018-09-30,,s1.inv.xml,/NEC/app/a.inv.xml,"This is a , interesting File..."
3,4,2018-09-30,,s1.inv.xml,/NEC/app/a.inv.xml,"This is a , interesting File..."
4,5,2018-09-30,,s1.inv.xml,/NEC/app/a.inv.xml,"This is a , interesting File..."
5,6,2018-09-30,,s1.inv.xml,/NEC/app/a.inv.xml,"This is a , interesting File..."
6,7,2018-09-30,,s1.inv.xml,/NEC/app/a.inv.xml,"This is a , interesting File..."

In [28]:
ret= {'cols': [c for c in df.columns], 'rows':df.values}

In [29]:
ret

{'cols': Index(['id', 'create_dt', 'user', 'name', 'file_name', 'description'], dtype='object'),
 'rows': array([[1, '2018-09-30', ' ', 's1.inv.xml', '/NEC/app/a.inv.xml',
         'This is a , interesting File... '],
        [2, '2018-09-30', ' ', 's1.inv.xml', '/NEC/app/a.inv.xml',
         'This is a , interesting File... '],
        [3, '2018-09-30', ' ', 's1.inv.xml', '/NEC/app/a.inv.xml',
         'This is a , interesting File... '],
        [4, '2018-09-30', ' ', 's1.inv.xml', '/NEC/app/a.inv.xml',
         'This is a , interesting File... '],
        [5, '2018-09-30', ' ', 's1.inv.xml', '/NEC/app/a.inv.xml',
         'This is a , interesting File... '],
        [6, '2018-09-30', ' ', 's1.inv.xml', '/NEC/app/a.inv.xml',
         'This is a , interesting File... '],
        [7, '2018-09-30', ' ', 's1.inv.xml', '/NEC/app/a.inv.xml',
         'This is a , interesting File... ']], dtype=object)}